DISCORD_ADMISSION_WEBHOOK=
DISCORD_TESTERS_WEBHOOK=
DISCORD_MEDICAL_CERTIFICATES_WEBHOOK=
DISCORD_ALS_WEBHOOK=
DISCORD_PILOT_WEBHOOK=
DISCORD_SMULS_WEBHOOK=
DISCORD_MOTO_WEBHOOK=
DISCORD_PARASUTIST_WEBHOOK=
